@media (max-width: 1500px) {

    .section-2 {
        align-self: flex-start;
    }

}

@media (max-width: 1355px) {
    .section-2 {
        width: auto;
    }

    .section-2-img {
        margin-right: 20px;
    }
}

@media (max-width: 1269px) {
    .section-2 {
        flex-direction: column-reverse;
        height: auto;
        width: auto;
        align-self: center;
    }

    .section-2-img {
        margin-top: 50px;
    }

    .section-2-txt-container {
        height: 300px;
        width: auto;
    }
}


@media (max-width: 1160px) {
    .testimonials-blocks {
        flex-direction: column;
        height: auto;
        width: auto;
    }
}