@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a:hover {
    color: #FFFFFF;
}

button:hover {
    background-color: #448606;
    color: #b0f809;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: #000000;
    padding-left: calc(50% - 300px);
    color: #FFFFFF;

    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    border: solid 3px #09f815;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 22.82px;
    font-size: 19px;
    width: 82px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo a {
    color: #09f815;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65px;
}

.nav-link {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #09f815;

    margin-right: 50px;
}

.active-link {
    color: #FFFFFF;
}


.banner-img {
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url(../images/banner-img2.jpg);
    background-size: cover;
}

.eclipse {
    position: absolute;
    left: 11%;
    top: 2%;
    width: 465px;
    height: 465px;
    background-color: #448606;
    border-radius: 50%;
}

.page-heading {
    position: absolute;
    left: 14%;
    top: 14%;

    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}

.page-heading span {
    color: #b0f809;
}

.watch-btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #b0f809;
    border: none;
    color: #448606;
    font-weight: 700;
    position: absolute;
    top: 60%;
    left: 15%;
}

/*section two*/

.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1161px;
    height: 403px;
    margin-top: 130px;

}

.flower-1 {
    position: absolute;
    right: 0;
}

.section-2-img {
    width: 609px;
    height: 403px;
    background-image: url(../images/koala.jpg);
}

.section-2-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;


}

.section-2-txt-container h2 {
    width: 465px;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.5px;
    color: #333B41;
}

.section-2-txt-container p {
    width: 465px;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}

.section-2-txt-container h3 {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #333B41;
}

/*section 3*/

.section-3 {
    width: 1160px;
    height: 575px;

    margin-top: 140px;
    margin-bottom: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-3 h3 {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    color: #333B41;
    text-align: center;
}

.testimonials-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 392px;

}

.block {
    display: flex;
    flex-direction: column;

    width: 268px;
    height: 391px;
    border: double 3px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#F1F3F2, #F1F3F2), linear-gradient(290deg, #09f815, #448606, #b0f809, #EAF7FE);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.profile {
    display: flex;
    flex-direction: row;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #000000;

    margin-left: 10px;
}

.location-time {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #BDBDBD;

    margin-left: 10px;
}

.block p {
    width: 237px;
    height: 310px;

    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #000000;

    margin-left: 10px;
}


.feedback-btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;
    background-color: #b0f809;
    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.5px;
    color: #448606;
    text-align: center;

    align-self: flex-start;
    position: relative;
    top: 20px;
}

.fa-circle-xmark {
    color: #000000;
    position: absolute;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal {
    position: fixed;
    bottom: 2px;
    right: 0;
    width: 450px;
    height: 200px;

    background-color: #F1F3F2;
    border-radius: 25px;
    border: solid 5px #b0f809;
    padding: 10px;
}

.modal p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;

}

input {
    width: 350px;
    height: 100px;
    margin-top: 10px;
    border: solid 2px #b0f809;
}

.submit-btn {
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #b0f809;
    color: #000000;
    width: 100px;
    height: 30px;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 600;
}

.none {
    display: none;
}